<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catered Classroom</title>
</head>

<body>
    <header>
        <a href="index.html"><img alt="Catered Classroom" src="../media/cateredClassroom.jpg" width="1024px" height="300px"></a>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#Blog">Blog</a></li>
            <li><a href="https://www.teacherspayteachers.com/Store/Catered-Classroom" target="_blank">Store</a></li>
            <li><a href="About">Meet the Teacher</a></li>
        </ul>
    </nav>

    <section>
        <h2 id="mostRecent">Most Recent Blog</h2>
        <article class="mostRecentBlog" id="mostRecentBlog">
            <p>When I first started learning about why and how to differentiated, there was one big question I always struggled with: How do I keep track of differentiated materials in a way that the scholars don't label as the "smart" and "dumb" activity?</p>
            <br>
            <p> I have to stay organized, and I want to keep materials in a way that is quick and easy to understand the level of difficulty. But if I labeled the groups in a way that showed any kind of hierarchy, my scholars might start thinking one group
                is better or compare their work with their neighbors.</p>
            <br>
            <p> Of course, there are a lot great ways to have a conversation with your scholars about how everyone's needs are different and that we give each of them different things based on those needs. This conversation is crucial to help ensure the scholars
                understand why activities are different. But I still want to avoid labeling activities so that they don't feel one activity is better or easier.</p>
            <br>
            <p> So I've come up with 2 simple ways to help organize materials: shapes and colors. I use shapes for my math levels and colors for my reading levels. I organize both subjects into 4 groups. My shapes are circle, triangle, square, and star. My
                colors are red, orange, green, and blue.</p>
            <br>
            <p> Originally, I wanted to use red, YELLOW, blue, and green, which matches most data programs for sorting results. But I couldn't resist incorporating a childhood favorite into these colors: Legend of the Hidden Temple. That's right, that Nickelodeon
                90's classic. Anyone else wish they were a participant on that show? Anyways, since there is no yellow animal, I just changed to it orange for Orange Iguana.</p>
            <br>
            <img src="makeMe" alt="Insert Hidden Temple Image">
            <br>
            <p>I use these labels with my guided reading groups. Thanks to that miscellaneous aisle in Aldi's (you know, that one you both want to avoid and spend 20 minutes in), I found this set of drawers that's perfect for keeping track of my groups.</p>

            <img src="storage" alt="Relevant image of storage containers">

            <p> When it comes to math, organizing my centers using the shapes has become indispensable, and it's a simple systems that can be discreetly added to any of my differentiated materials (my favorite part about this). To keep track of which shape
                is what level, I use the number of sides to indicate the level of difficult. So circle has no sides, triangle has 3, square has 4, and star has 10; more sides means more challenging. So my circle work would have more scaffolding tools
                to help the scholars who might be struggling, while my star work would provide extra challenge for those who already show an understanding. It's a quick and easy way to keep track of my materials by level of difficulty without the scholars
                noticing.
            </p>

            <p> I have 4 magazine racks that are labeled with the shapes, which holds folders with different games and activities. I also printed small stickers with the shapes to add to the folders as well as other differentiated games or materials.</p>
            <img src="magRack" alt="insert image of magazine racks here">
            <img src="labels" alt="insert image of custom labels">



            <p> When I make games or activities that are differentiated, I simply add the shapes to the different ways that are discreet and/or decorative. For example, sometimes I add a border using the shape, or I place the shape in the corner of the page.</p>

            <p> Stay tuned for many future posts about the games activities I differentiate and how (LOTS of ideas coming!!!)</p>
            <img src="powerTower" alt="insert image of power tower">

            <img src="tumblingMath" alt="Insert Tumbling Math Image Here">


            <p> Keep in mind, in both reading and math, these level must be fluid, so each child could be moving back and forth between groups based on their learning.</p>
        </article>
    </section>
</body>

</html>